:root {
  --primary-color: #002a42;
  --border-color: #e8e8ea;
  --input-border-color: #48446940;
  --highlight-background: #f4f4f5;
  --highlight-hover: #e8e8ea;
  --text-color: #211f33;
  --text-color-placeholder: #6e6d7a;
  --button-primary: #337ab7;
  --error: #d53948;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
h1 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
